@charset "UTF-8";

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Thin.ttf') format('truetype'), url('../fonts/roboto/Roboto-Thin.eot#iefix') format('embedded-opentype'), url('../fonts/roboto/Roboto-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-ThinItalic.ttf') format('truetype'), url('../fonts/roboto/Roboto-ThinItalic.eot#iefix') format('embedded-opentype'), url('../fonts/roboto/Roboto-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Light.ttf') format('truetype'), url('../fonts/roboto/Roboto-Light.eot#iefix') format('embedded-opentype'), url('../fonts/roboto/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-LightItalic.ttf') format('truetype'), url('../fonts/roboto/Roboto-LightItalic.eot#iefix') format('embedded-opentype'), url('../fonts/roboto/Roboto-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Regular.ttf') format('truetype'), url('../fonts/roboto/Roboto-Regular.eot#iefix') format('embedded-opentype'), url('../fonts/roboto/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Italic.ttf') format('truetype'), url('../fonts/roboto/Roboto-Italic.eot#iefix') format('embedded-opentype'), url('../fonts/roboto/Roboto-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}


@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Medium.ttf') format('truetype'), url('../fonts/roboto/Roboto-Medium.eot#iefix') format('embedded-opentype'), url('../fonts/roboto/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-MediumItalic.ttf') format('truetype'), url('../fonts/roboto/Roboto-MediumItalic.eot#iefix') format('embedded-opentype'), url('../fonts/roboto/Roboto-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Bold.ttf') format('truetype'), url('../fonts/roboto/Roboto-Bold.eot#iefix') format('embedded-opentype'), url('../fonts/roboto/Roboto-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-BoldItalic.ttf') format('truetype'), url('../fonts/roboto/Roboto-BoldItalic.eot#iefix') format('embedded-opentype'), url('../fonts/roboto/Roboto-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Black.ttf') format('truetype'), url('../fonts/roboto/Roboto-Black.eot#iefix') format('embedded-opentype'), url('../fonts/roboto/Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-BlackItalic.ttf') format('truetype'), url('../fonts/roboto/Roboto-BlackItalic.eot#iefix') format('embedded-opentype'), url('../fonts/roboto/Roboto-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Thin.ttf') format('truetype'), url('../fonts/roboto/Roboto-Thin.eot#iefix') format('embedded-opentype'), url('../fonts/roboto/Roboto-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Titillium Web';
    src: url('../fonts/titillium/TitilliumWeb-Light.ttf') format('truetype'), url('../fonts/titillium/TitilliumWeb-Light.eot#iefix') format('embedded-opentype'), url('../fonts/titillium/TitilliumWeb-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Titillium Web';
    src: url('../fonts/titillium/TitilliumWeb-Regular.ttf') format('truetype'), url('../fonts/titillium/TitilliumWeb-Regular.eot#iefix') format('embedded-opentype'), url('../fonts/titillium/TitilliumWeb-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Titillium Web';
    src: url('../fonts/titillium/TitilliumWeb-Italic.ttf') format('truetype'), url('../fonts/titillium/TitilliumWeb-Italic.eot#iefix') format('embedded-opentype'), url('../fonts/titillium/TitilliumWeb-Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Titillium Web';
    src: url('../fonts/titillium/TitilliumWeb-SemiBold.ttf') format('truetype'), url('../fonts/titillium/TitilliumWeb-SemiBold.eot#iefix') format('embedded-opentype'), url('../fonts/titillium/TitilliumWeb-SemiBold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Titillium Web';
    src: url('../fonts/titillium/TitilliumWeb-Bold.ttf') format('truetype'), url('../fonts/titillium/TitilliumWeb-Bold.eot#iefix') format('embedded-opentype'), url('../fonts/titillium/TitilliumWeb-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Titillium Web';
    src: url('../fonts/titillium/TitilliumWeb-Black.ttf') format('truetype'), url('../fonts/titillium/TitilliumWeb-Black.eot#iefix') format('embedded-opentype'), url('../fonts/titillium/TitilliumWeb-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}


/* ------------------------------------------------------------------------------
 *
 *  # Page header
 *
 *  Page header components and color options
 *
 * ---------------------------------------------------------------------------- */

.page-title {
    padding: 2rem 0;
    position: relative;
}

    .page-title small {
        display: inline-block;
        margin-left: 0.625rem;
    }

        .page-title small:before {
            content: '/';
            margin-right: 0.875rem;
        }

        .page-title small.d-block {
            margin-left: 0;
        }

            .page-title small.d-block:before {
                content: none;
            }

        .page-title small.d-block, .page-title .breadcrumb {
            margin-left: 1.875rem;
        }

    .page-title h1, .page-title h2, .page-title h3, .page-title h4, .page-title h5, .page-title h6 {
        margin: 0;
    }

.page-header-content {
    position: relative;
    padding: 0 1.25rem;
}

    .page-header-content[class*=border-bottom-] + .breadcrumb-line {
        border-top: 0;
    }

/* ------------------------------------------------------------------------------
 *
 *  # Sidebar layouts
 *
 *  Sidebar components, main navigation and sidebar itself
 *
 * ---------------------------------------------------------------------------- */

.sidebar {
    background: #1C3FAA;
    width: 250px;
    padding: 15px 0;
    -webkit-transition: all ease-in-out 0.25s;
    -ms-transition: all ease-in-out 0.25s;
    transition: all ease-in-out 0.25s;
    border-top-right-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
}

.sidebar-expand-md .sidebar-mobile-toggler {
    display: none;
}

.sidebar-mobile-toggler {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    background: #3160d8;
    padding: 5px 15px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 500;
}

.sidebar-mobile-main-close {
    text-align: center;
    border-radius: 4px;
    color: #fff !important;
    height: 30px;
    width: 30px;
    line-height: 30px;
    background: rgba(255, 255, 255, .2);
}

.sidebar-content {
    position: fixed;
    top: 40px;
    left: 0;
    bottom: 0;
    width: inherit;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    transition: left ease-in-out 0.15s, right ease-in-out 0.15s;
}

.sidebar .card {
    border: 0;
    border-width: 0;
    margin-bottom: 0;
    border-radius: 0;
    box-shadow: none;
    background: transparent;
}

.sidebar .nav-sidebar {
    color: #fff;
    -ms-flex-direction: column;
    flex-direction: column;
}

    .sidebar .nav-sidebar > .nav-item {
        position: relative;
        padding: 0 7.5px;
    }

        .sidebar .nav-sidebar > .nav-item:not(.nav-item-divider) {
            margin-bottom: 5px;
        }

.sidebar ul li.nav-item a {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 8px 15px;
    padding-right: 20px !important;
    color: #fff;
    transition: background-color ease-in-out 0.15s, color ease-in-out 0.15s;
}

.sidebar .nav-group-sub li.active a {
    color: #ec407a;
    background: #fff;
}
.sidebar ul li.nav-item > a.nav-link.active,
.sidebar ul li.nav-item-open > a{
    background: #F1F5F8;
    color: #000000;
    font-weight: 500;
}
.sidebar ul li.nav-item-open > a i{
    color: #1c3faa;
}
.sidebar ul li.nav-item .nav-group-sub a.nav-link.active {
    color: #FF9800;
    background: rgba(255, 255, 255, .1);
}
.sidebar ul li.nav-item > a {
    border-radius: 30px;
}

.sidebar-xs .sidebar ul li.nav-item-open > a{
    background: rgba(255, 255, 255, .9) !important;
}
.sidebar ul li.nav-item:not(.nav-item-submenu) a:not(.active):hover {
    background: rgba(255, 255, 255, .1) !important;
}

.sidebar li.nav-item-submenu > a > .menu-title:after {
    content: "\f054";
    font-family: "Font Awesome 5 Pro";
    display: inline-block;
    font-size: 10px;
    vertical-align: middle;
    line-height: 1;
    position: absolute;
    top: 50%;
    transform: -webkit-translateY(-50%);
    transform: translateY(-50%);
    right: 10px;
    transition: -webkit-transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.sidebar li.nav-item-submenu.nav-item-open > a > span:after {
    -webkit-transform: translateY(-50%) rotate(90deg);
    transform: translateY(-50%) rotate(90deg);
}

.sidebar-xs .sidebar li.nav-item-submenu > a > .menu-title:after {
    content: "\f0d7";
    font-weight: bold;
}

.sidebar-xs .sidebar li.nav-item-submenu li.nav-item-open {
    background-color: #f5f5f5;
    border-radius: 4px;
}

.sidebar ul li a.active i {
    color: #1c3faa;
}

.sidebar ul li a i {
    font-size: 14px;
    margin-right: 8px;
}

.sidebar .nav-group-sub {
    display: none;
}

.sidebar .nav-item.nav-item-open > .nav-group-sub{
    display: block;
}

.sidebar ul li.nav-item .nav-group-sub a {
    padding: 8px 25px;
    background: #1A389F;
    color: #fff;
    margin: 5px 0px;
    border-radius: 30px;
}

.sidebar ul li.nav-item .nav-group-sub .nav-group-sub a {
    margin-left: 15px;
    background-color: #142C91;
}

.sidebar ul li.nav-item .nav-group-sub .nav-group-sub .nav-group-sub a {
    margin-left: 30px;
    background-color: #081c6f;
}

@media (min-width: 768px) {
    .sidebar-content {
        position: static;
        overflow: visible;
        width: auto;
    }

    .sidebar-mobile-toggler {
        display: none;
    }

    .sidebar-xs .sidebar {
        max-width: 50px;
    }

        .sidebar-xs .sidebar .nav-sidebar > li.nav-item-submenu > ul.nav-group-sub {
            position: absolute;
            top: 0;
            right: -16.875rem;
            width: 16.875rem;
            display: none;
            z-index: 1000;
            box-shadow: 0 0.25rem 2rem rgba(0, 0, 0, 0.3);
            background: #ffffff;
            border-radius: 4px;
            padding: 10px 5px;
            max-height: 360px;
        }

        .sidebar-xs .sidebar .nav-sidebar > li.nav-item-submenu:hover > ul.nav-group-sub, .sidebar-xs .sidebar .nav-sidebar > li.nav-item-submenu:focus > ul.nav-group-sub {
            display: block;
        }

        .sidebar-xs .sidebar .nav-sidebar > li.nav-item-submenu > .nav-group-sub[data-submenu-title]:before {
            content: attr(data-submenu-title);
            display: block;
            padding: 7px 15px;
            color: #fff;
            margin: -10px -5px;
            margin-bottom: 10px;
            background: rgba(28, 63, 170, 0.77);
        }

        .sidebar-xs .sidebar ul.nav-sidebar > li.nav-item-submenu > a:after {
            content: "\f0d9";
            font-family: "Font Awesome 5 Pro";
            color: #516bbe;
            font-weight: 600;
            position: absolute;
            right: -8px;
            top: 5px;
            opacity: 0;
        }

        .sidebar-xs .sidebar ul.nav-sidebar > li.nav-item-open > a:after,
        .sidebar-xs .sidebar ul.nav-sidebar > li.nav-item-submenu:hover > a:after {
            opacity: 1;
        }

        .sidebar-xs .sidebar ul li.nav-item .nav-group-sub a {
            position: relative;
            background: transparent;
            color: #000;
            margin-top: 0;
            margin-bottom: 0;
            padding: 6px 10px;
            border-radius: 4px;
            transition: all .2s ease;
            -webkit-transition: all .2s ease;
            -moz-transition: all .2s ease;
            -o-transition: all .2s ease;
        }

        .sidebar-xs .sidebar ul li.nav-item .nav-group-sub .nav-group-sub .nav-group-sub a {
            background: transparent;
            color: #000;
        }

        .sidebar-xs .sidebar ul li.nav-item .nav-group-sub a:hover {
            background: rgba(0, 0, 0, .1) !important;
        }

        .sidebar-xs .sidebar ul li.nav-item .nav-group-sub a:after {
            content: "\f111";
            font-family: "Font Awesome 5 Pro";
            font-weight: 600;
            font-size: 5px;
            color: #ec407a;
            position: absolute;
            top: 50%;
            left: 10px;
            display: block;
            border-radius: 50%;
            opacity: 0;
            transition: all .2s ease;
            -webkit-transition: all .2s ease;
            -moz-transition: all .2s ease;
            -o-transition: all .2s ease;
            -webkit-transform: translate(-10px, -50%);
            -moz-transform: translate(-10px, -50%);
            -ms-transform: translate(-10px, -50%);
            -o-transform: translate(-10px, -50%);
        }

        .sidebar-xs .sidebar ul li.nav-item .nav-group-sub .nav-link.active:after,
        .sidebar-xs .sidebar ul li.nav-item .nav-group-sub a:hover:after {
            transform: translate(-7px, -50%);
            opacity: 1;
        }

        .sidebar-xs .sidebar ul.nav-sidebar > li > a > span {
            display: none;
        }

        .sidebar-xs .sidebar .nav-sidebar {
            padding-right: 0;
        }

        .sidebar-xs .sidebar ul.nav-sidebar > li.nav-item > a {
            -ms-flex-pack: center;
            justify-content: center;
            padding-left: 0;
            padding-right: 0 !important;
        }

        .sidebar-xs .sidebar ul.nav-sidebar > li > a > i {
            margin-right: 0px;
            top: 0;
        }

}

@media (max-width: 767px) {
    body.sidebar-mobile-main {
        overflow: hidden;
    }

        body.sidebar-mobile-main .sidebar {
            transform: none;
        }

    .sidebar {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        box-sizing: content-box;
        z-index: 10;
        transition: all ease-in-out 0.15s;
        padding: 0;
        background: #fff;
        -webkit-transform: translateX(-250px);
        -ms-transform: translateX(-250px);
        transform: translateX(-250px);
    }

    .sidebar-mobile-main-toggle {
        position: static;
        padding: 0;
        height: 30px;
        width: 30px;
        line-height: 30px;
        text-align: center;
        border-radius: 4px;
        border: none;
        background: rgba(255, 255, 255, .2);
        color: #fff;
    }

    .sidebar .sidebar-content {
        padding: 20px 10px;
    }

    .sidebar .nav-sidebar {
        padding: 0;
    }

    .sidebar ul li.nav-item a {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        color: #2d3748;
        padding: 6px 10px;
        background: transparent;
    }

    .sidebar ul li.nav-item .nav-group-sub a {
        padding: 3px 28px;
        margin: 2px 0px;
        background: transparent !important;
    }

    .nav-item-open > .nav-group-sub {
        -ms-touch-action: auto;
        touch-action: auto;
        overflow: visible !important;
    }

    .sidebar li.nav-item-open {
        background-color: #f5f5f5;
        border-radius: 4px;
    }

    .sb-overlay {
        -webkit-transition-duration: 500ms;
        -o-transition-duration: 500ms;
        transition-duration: 500ms;
        width: 100%;
        position: fixed;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(2, 3, 16, 0.3);
        z-index: 9;
        opacity: 0;
        visibility: hidden;
    }

    .sidebar-mobile-main .sb-overlay {
        opacity: 1;
        visibility: visible;
    }
}

.w30px {
    width: 30px;
}

.w1p {
    width: 1%
}

.w2p {
    width: 2%
}

.w3p {
    width: 3%
}

.w4p {
    width: 4%
}

.w5p {
    width: 5%
}

.w6p {
    width: 6%
}

.w7p {
    width: 7%
}

.w8p {
    width: 8%
}

.w9p {
    width: 9%
}

.w10p {
    width: 10%
}

.w11p {
    width: 11%
}

.w12p {
    width: 12%
}

.w13p {
    width: 13%
}

.w14p {
    width: 14%
}

.w15p {
    width: 15%
}

.w16p {
    width: 16%
}

.w17p {
    width: 17%
}

.w18p {
    width: 18%
}

.w19p {
    width: 19%
}

.w20p {
    width: 20%
}

.w21p {
    width: 21%
}

.w22p {
    width: 22%
}

.w23p {
    width: 23%
}

.w24p {
    width: 24%
}

.w25p {
    width: 25%
}

.w26p {
    width: 26%
}

.w27p {
    width: 27%
}

.w28p {
    width: 28%
}

.w29p {
    width: 29%
}

.w30p {
    width: 30%
}

.w31p {
    width: 31%
}

.w32p {
    width: 32%
}

.w33p {
    width: 33%
}

.w34p {
    width: 34%
}

.w35p {
    width: 35%
}

.w36p {
    width: 36%
}

.w37p {
    width: 37%
}

.w38p {
    width: 38%
}

.w39p {
    width: 39%
}

.w40p {
    width: 40%
}

.w41p {
    width: 41%
}

.w42p {
    width: 42%
}

.w43p {
    width: 43%
}

.w44p {
    width: 44%
}

.w45p {
    width: 45%
}

.w46p {
    width: 46%
}

.w47p {
    width: 47%
}

.w48p {
    width: 48%
}

.w49p {
    width: 49%
}

.w50p {
    width: 50%
}

.w51p {
    width: 51%
}

.w52p {
    width: 52%
}

.w53p {
    width: 53%
}

.w54p {
    width: 54%
}

.w55p {
    width: 55%
}

.w56p {
    width: 56%
}

.w57p {
    width: 57%
}

.w58p {
    width: 58%
}

.w59p {
    width: 59%
}

.w60p {
    width: 60%
}

.w61p {
    width: 61%
}

.w62p {
    width: 62%
}

.w63p {
    width: 63%
}

.w64p {
    width: 64%
}

.w65p {
    width: 65%
}

.w66p {
    width: 66%
}

.w67p {
    width: 67%
}

.w68p {
    width: 68%
}

.w69p {
    width: 69%
}

.w70p {
    width: 70%
}

.w71p {
    width: 71%
}

.w72p {
    width: 72%
}

.w73p {
    width: 73%
}

.w74p {
    width: 74%
}

.w75p {
    width: 75%
}

.w76p {
    width: 76%
}

.w77p {
    width: 77%
}

.w78p {
    width: 78%
}

.w79p {
    width: 79%
}

.w80p {
    width: 80%
}

.w81p {
    width: 81%
}

.w82p {
    width: 82%
}

.w83p {
    width: 83%
}

.w84p {
    width: 84%
}

.w85p {
    width: 85%
}

.w86p {
    width: 86%
}

.w87p {
    width: 87%
}

.w88p {
    width: 88%
}

.w89p {
    width: 89%
}

.w90p {
    width: 90%
}

.w91p {
    width: 91%
}

.w92p {
    width: 92%
}

.w93p {
    width: 93%
}

.w94p {
    width: 94%
}

.w95p {
    width: 95%
}

.w96p {
    width: 96%
}

.w97p {
    width: 97%
}

.w98p {
    width: 98%
}

.w99p {
    width: 99%
}

.w100p {
    width: 100%
}
