@media only screen and (min-width: 768px) {

    .modal .wizard>.actions{
        position: static;
        box-shadow: none;
    }

}



@media only screen and (max-width: 1199px) {
    .about-opacity-icon i{
        font-size: 70px;
    }

    .lineChartWidget{
        display: none;
    }
    .table-hover tbody tr:hover{
        background: transparent;
    }
    .table-list tr.collapsed,
    .table-list tr.collapsed ~ tr.shrink-wrapper { 
        background-color: #f5f5f5;
    }

    


}

@media only screen and (max-width: 991px) {
    .page-title{
        display: block;
    }
    .page-title > *:first-child{
        margin-bottom: 5px;
    }
    .bieu-do{
        margin: 0 -5px;
    }
    .bieu-do > div{
        padding: 0 5px;
    }
    .p-button {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        overflow-y: scroll;
    }
    body:not(.sidebar-xs) .col-content{
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .tipsy{
        display: none !important;
    }

    .login-header {
        margin-bottom: 30px;
    }
    
    [class*=" icon-"], [class^=icon-]{
        font-size: 12px;
    }
    
    .mobile-bottom {
        -ms-display: flex;
        display: flex;
    }
    .page-content:not(.login-page){
        display: block;
        background: transparent;
    }
    .page-content:not(.login-page) .content-wrapper{
        left: 0;
        max-width: 100%;
        border-radius: 0px;
    }
    .page-content:not(.login-page) .content-wrapper::before {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        content: "";
        display: block;
        height: 50px;
        background: #1C3FAA;
        z-index: 1;
        opacity: .2;
    }
    .page-content:not(.login-page) .content-wrapper::after{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        content: "";
        display: block;
        height: 50px;
        background: url(../images/dash-bg.png) no-repeat center center;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
    }
    .content {
        position: relative;
        padding: 0 15px 50px;
    }
    #footer {
        display: block ;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        margin-top: auto;
        color: #fff;
        margin: 0;
        max-height: 59px;
        padding: 10px 15px 7px;
    }
    #footer::before {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        content: "";
        display: block;
        height: 100%;
        background: #1C3FAA;
        z-index: 1;
        opacity: .2;
        border-top-left-radius: 0;
        border-top-right-radius: 30px;
    }
    #footer:after{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        content: "";
        display: block;
        height: 100%;
        background: url(../images/dash-bg.png) no-repeat center center;
        background-size: cover;
        background-position: center center;
        border-top-left-radius: 0px;
        border-top-right-radius: 30px;
    }
    #footer > span{
        display: block;
        position: relative;
        z-index: 1;
    }
    #footer > span:first-child a{
        color: #fff;
    }
    #footer > span:last-child *{
        display: inline-block !important;
    }
    .header-top{
        position: relative;
        z-index: 1;
        padding: 10px 0;
        margin: 0px;
        height: 50px;
        margin-bottom: 20px;
    }
    .header-top.sticky {
        margin: 0;
        padding: 15px;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        padding: 10px 15px;
        background: url(../images/dash-bg.png) no-repeat center center;
        background-color: #1C3FAA;
        background-size: cover;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.08);
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        -webkit-animation: none;
        animation: none;
        transition: opacity .1s ease,visibility .1s ease,-webkit-transform .3s ease;
        transition: opacity .1s ease,visibility .1s ease,transform .3s ease;
        transition: opacity .1s ease,visibility .1s ease,transform .3s ease,-webkit-transform .3s ease;
    }
    .header-top.sticky.show {
        -webkit-transform: none;
        transform: none;
    }
    .header-search{
        display: none;
    }
    .breadcrumb{
        display: none;
    }

    .header-top.sticky .top-right > ul > li > a i{
        color: #fff;
    }

    .header-top .dropdown-user img{
        border: 2px solid #fff;
    }
    .top-right > ul > li:not(.dropdown-user){
        display: none;
    }
    .top-right > ul > li > a{
        color: #fff;
    }
    .logo {
        display: none;
    }
    .logo-mobile .logo-img {
        margin-right: 0;
    }
    .logo-mobile .logo-text {
        color: #fff !important;
        font-size: 22px;
    }
    .logo-mobile .logo-img img{
        width: 30px;
    }
    .sup-box{
        max-width: 100%;
        margin: 30px 0 0 !important;
    }
    .page-title {
        background: #fff;
        padding: 10px 15px;
        border-radius: 4px;
        margin-bottom: 20px;
    }
    .page-title > *:first-child {
        margin-bottom: 10px;
    }
    .page-title > *:first-child i{
        margin-right: 5px !important;
    }

    .page-title > .p-title > p{
        font-size: 14px;
    }

    .page-title > .p-title > span{
        font-size: 10px;
        line-height: normal;
    }

    .bieu-do > div{
        width: 50%;
    }
    .card-header .card-title {
        font-size: 13px;
    }
    .modal-title{
        font-size: 13px;
    }
    .modal-header{
        padding: 8px;
    }
    .modal-body {
        padding: 8px;
    }
    .tab-style2 .nav-tabs{
        display: block;
        margin-bottom: 8px;
        white-space: nowrap;
        overflow: hidden;
        overflow-x: scroll;
    }
    .tab-style2 .nav-tabs .nav-item{
        display: inline-block;
    }
    .tab-style2 .tab-content {
        padding: 8px;
    }


    .collapse-group .c-title{
        padding: 0 10px;
    }
    .collapse-group .c-body {
        padding: 15px 10px 10px;
    }

    .timeline-custom .event{
        min-height: 70px;
    }
    
    .chat-circle.chat-fixed {
        bottom: 15px;
        left: 15px;
    }

    .list-files li{
        width: 25%;
    }
    
    .header-button{
        display: block !important;
    }
    .header-button .card-title{
        margin-bottom: 10px;
    }
    .tab-pane-action{
        position: static;
    }
    .col-content.date-to-date{
        display: block;
    }
    .p-button{

    }




}

@media only screen and (max-width: 567px) {
    body{
        font-size: 12px;
    }
    .btn{
        font-size: 12px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .row {
        margin-right: -5px;
        margin-left: -5px;
    }
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
        padding-right: 5px;
        padding-left: 5px;
    }
    .about-box {
        margin-bottom: 10px;
        border-radius: 10px;
        padding: 10px;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
         -khtml-user-select: none; /* Konqueror HTML */
           -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently*/
    }
    .about-main-icon {
        padding-bottom: 5px;
    }
    .about-box .about-main-icon i {
        font-size: 24px;
        transform: translateY(0);
    }
    .about-opacity-icon{
        display: none;
    }
    .about-box h5{
        font-size: 10px;
        font-weight: 400;
        text-transform: capitalize;
    }
    .sec-report > .row{
        display: block;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        margin-right: -16px;
        padding-right: 10px;
    }
    .sec-report > .row > div{
        display: inline-block;
        max-width: 100%;
        width: 60%;
    }
    .media .media-right > i{
        font-size: 20px;
    }
    .media .card-title {
        font-size: 12px;
    }
    .media-list .media > div:first-child{
        display: none;
    }
    .media-list .media .font-size-xxs{
        font-size: inherit;
    }
    .media-list .media:not(:first-child){
        margin-top: 10px;
    }
    #footer > span:last-child a{
        display: block !important;
    }
    .sup-box {
        max-width: 100%;
        margin-top: 30px !important;
    }
    .sup-down a {
        width: 80px;
        height: 26px;
        line-height: 24px;
        margin: 5px;
    }
    .dropdown-user .sub{
        font-size: inherit;
    }
    .dropdown-item{
        display: block;
    }
    .form-group-select .select-icon{
        top: 4px;
        font-size: 14px;
    }
    .form-group-select .select-icon i{
        font-size: 1rem;
    }
    .form-control{
        font-size: inherit;
    }
    .card-list-footer > div:first-child{
        padding: 10px 0;
        -ms-justify-content: center;
        justify-content: center;
    }
    .pagination {
        -ms-justify-content: center;
        justify-content: center;
    }
    .list-files li{
        width: 33.3333%;
    }
    .nav-file .nav-group-sub {
        margin-left: 13px;
    }
    .f-right.grid .file-icon {
        height: 30px;
        width: 30px;
    }
    .file-manager{
        margin: 0 -5px;
    }
    .f-left,
    .f-right{
        padding: 0 5px;
    }
    .nav-file {
        padding: 15px 5px;
    }
    .f-right.list span.date, .f-right.list span.type{
        display: none;
    }
    .card-header.card-header-sticky:first-child{
        position: static;
        z-index: 0;
    }
}


@media only screen and (max-width: 425px) {
    .bieu-do > div {
        width: 100%;
    }
    .header-elements .select-date{
        display: none;
    }
    .daterange-ranges .mr-2{
        margin-right: 0px !important;
    }
    .card-search [class^=col-]{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .card-search [class^=col-]:last-child > label{
        display: none;
    }
    .input-don .input-group-append > .btn {
        max-width: 120px;
        font-size: 9px;
        padding: 0px 5px;
        line-height: normal;
    }
    .input-don .input-group-append > .btn > i{
        margin: 0 !important;
    }

    .chat-footer,
    .chat-header{
        padding: 10px 15px;
    }
    .chat{
        margin-bottom: 0;
    }
    .file-manager{
        display: block;
    }
    .f-left, .f-right {
        float: none;
        width: 100%;
    }
    .date-to-date > .d-flex{
        display: block !important;
    }
    .date-to-date > .d-flex > *:first-child{
        margin-bottom: 15px;
    }







}