@font-face {
  font-family : 'weathericons';
  src : url('weathericons-regular-webfont.eot');
  src : url('weathericons-regular-webfont.eot?#iefix') format('embedded-opentype'), 
  url('weathericons-regular-webfont.woff2') format('woff2'), 
  url('weathericons-regular-webfont.woff') format('woff'), 
  url('weathericons-regular-webfont.ttf') format('truetype'), 
  url('weathericons-regular-webfont.svg#weather_iconsregular') format('svg');
  font-weight : normal;
  font-style : normal;
}

.wi {
  display : inline-block;
  font-family : 'weathericons';
  font-style : normal;
  font-weight : normal;
  line-height : 1;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing : grayscale;
}

.wi-fw {
  width : 1.4em;
  text-align : center;
}

.wi-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform : rotate(90deg);
      -ms-transform : rotate(90deg);
     -moz-transform : rotate(90deg);
       -o-transform : rotate(90deg);
          transform : rotate(90deg);
}

.wi-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform : rotate(180deg);
      -ms-transform : rotate(180deg);
     -moz-transform : rotate(180deg);
       -o-transform : rotate(180deg);
          transform : rotate(180deg);
}

.wi-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform : rotate(270deg);
      -ms-transform : rotate(270deg);
     -moz-transform : rotate(270deg);
       -o-transform : rotate(270deg);
          transform : rotate(270deg);
}

.wi-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
  -webkit-transform : scale(-1, 1);
      -ms-transform : scale(-1, 1);
     -moz-transform : scale(-1, 1);
       -o-transform : scale(-1, 1);
          transform : scale(-1, 1);
}

.wi-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform : scale(1, -1);
      -ms-transform : scale(1, -1);
     -moz-transform : scale(1, -1);
       -o-transform : scale(1, -1);
          transform : scale(1, -1);
}

.wi-day-sunny:before {
  content : 'ï€';
}

.wi-day-cloudy:before {
  content : 'ï€‚';
}

.wi-day-cloudy-gusts:before {
  content : 'ï€€';
}

.wi-day-cloudy-windy:before {
  content : 'ï€';
}

.wi-day-fog:before {
  content : 'ï€ƒ';
}

.wi-day-hail:before {
  content : 'ï€„';
}

.wi-day-haze:before {
  content : 'ï‚¶';
}

.wi-day-lightning:before {
  content : 'ï€…';
}

.wi-day-rain:before {
  content : 'ï€ˆ';
}

.wi-day-rain-mix:before {
  content : 'ï€†';
}

.wi-day-rain-wind:before {
  content : 'ï€‡';
}

.wi-day-showers:before {
  content : 'ï€‰';
}

.wi-day-sleet:before {
  content : 'ï‚²';
}

.wi-day-sleet-storm:before {
  content : 'ï¨';
}

.wi-day-snow:before {
  content : 'ï€Š';
}

.wi-day-snow-thunderstorm:before {
  content : 'ï«';
}

.wi-day-snow-wind:before {
  content : 'ï¥';
}

.wi-day-sprinkle:before {
  content : 'ï€‹';
}

.wi-day-storm-showers:before {
  content : 'ï€Ž';
}

.wi-day-sunny-overcast:before {
  content : 'ï€Œ';
}

.wi-day-thunderstorm:before {
  content : 'ï€';
}

.wi-day-windy:before {
  content : 'ï‚…';
}

.wi-solar-eclipse:before {
  content : 'ï®';
}

.wi-hot:before {
  content : 'ï²';
}

.wi-day-cloudy-high:before {
  content : 'ï½';
}

.wi-day-light-wind:before {
  content : 'ïƒ„';
}

.wi-night-clear:before {
  content : 'ï€®';
}

.wi-night-alt-cloudy:before {
  content : 'ï‚†';
}

.wi-night-alt-cloudy-gusts:before {
  content : 'ï€¢';
}

.wi-night-alt-cloudy-windy:before {
  content : 'ï€£';
}

.wi-night-alt-hail:before {
  content : 'ï€¤';
}

.wi-night-alt-lightning:before {
  content : 'ï€¥';
}

.wi-night-alt-rain:before {
  content : 'ï€¨';
}

.wi-night-alt-rain-mix:before {
  content : 'ï€¦';
}

.wi-night-alt-rain-wind:before {
  content : 'ï€§';
}

.wi-night-alt-showers:before {
  content : 'ï€©';
}

.wi-night-alt-sleet:before {
  content : 'ï‚´';
}

.wi-night-alt-sleet-storm:before {
  content : 'ïª';
}

.wi-night-alt-snow:before {
  content : 'ï€ª';
}

.wi-night-alt-snow-thunderstorm:before {
  content : 'ï­';
}

.wi-night-alt-snow-wind:before {
  content : 'ï§';
}

.wi-night-alt-sprinkle:before {
  content : 'ï€«';
}

.wi-night-alt-storm-showers:before {
  content : 'ï€¬';
}

.wi-night-alt-thunderstorm:before {
  content : 'ï€­';
}

.wi-night-cloudy:before {
  content : 'ï€±';
}

.wi-night-cloudy-gusts:before {
  content : 'ï€¯';
}

.wi-night-cloudy-windy:before {
  content : 'ï€°';
}

.wi-night-fog:before {
  content : 'ïŠ';
}

.wi-night-hail:before {
  content : 'ï€²';
}

.wi-night-lightning:before {
  content : 'ï€³';
}

.wi-night-partly-cloudy:before {
  content : 'ï‚ƒ';
}

.wi-night-rain:before {
  content : 'ï€¶';
}

.wi-night-rain-mix:before {
  content : 'ï€´';
}

.wi-night-rain-wind:before {
  content : 'ï€µ';
}

.wi-night-showers:before {
  content : 'ï€·';
}

.wi-night-sleet:before {
  content : 'ï‚³';
}

.wi-night-sleet-storm:before {
  content : 'ï©';
}

.wi-night-snow:before {
  content : 'ï€¸';
}

.wi-night-snow-thunderstorm:before {
  content : 'ï¬';
}

.wi-night-snow-wind:before {
  content : 'ï¦';
}

.wi-night-sprinkle:before {
  content : 'ï€¹';
}

.wi-night-storm-showers:before {
  content : 'ï€º';
}

.wi-night-thunderstorm:before {
  content : 'ï€»';
}

.wi-lunar-eclipse:before {
  content : 'ï°';
}

.wi-stars:before {
  content : 'ï·';
}

.wi-storm-showers:before {
  content : 'ï€';
}

.wi-thunderstorm:before {
  content : 'ï€ž';
}

.wi-night-alt-cloudy-high:before {
  content : 'ï¾';
}

.wi-night-cloudy-high:before {
  content : 'ï‚€';
}

.wi-night-alt-partly-cloudy:before {
  content : 'ï‚';
}

.wi-cloud:before {
  content : 'ï';
}

.wi-cloudy:before {
  content : 'ï€“';
}

.wi-cloudy-gusts:before {
  content : 'ï€‘';
}

.wi-cloudy-windy:before {
  content : 'ï€’';
}

.wi-fog:before {
  content : 'ï€”';
}

.wi-hail:before {
  content : 'ï€•';
}

.wi-rain:before {
  content : 'ï€™';
}

.wi-rain-mix:before {
  content : 'ï€—';
}

.wi-rain-wind:before {
  content : 'ï€˜';
}

.wi-showers:before {
  content : 'ï€š';
}

.wi-sleet:before {
  content : 'ï‚µ';
}

.wi-snow:before {
  content : 'ï€›';
}

.wi-sprinkle:before {
  content : 'ï€œ';
}

.wi-storm-showers:before {
  content : 'ï€';
}

.wi-thunderstorm:before {
  content : 'ï€ž';
}

.wi-snow-wind:before {
  content : 'ï¤';
}

.wi-snow:before {
  content : 'ï€›';
}

.wi-smog:before {
  content : 'ï´';
}

.wi-smoke:before {
  content : 'ï¢';
}

.wi-lightning:before {
  content : 'ï€–';
}

.wi-raindrops:before {
  content : 'ïŽ';
}

.wi-raindrop:before {
  content : 'ï¸';
}

.wi-dust:before {
  content : 'ï£';
}

.wi-snowflake-cold:before {
  content : 'ï¶';
}

.wi-windy:before {
  content : 'ï€¡';
}

.wi-strong-wind:before {
  content : 'ï';
}

.wi-sandstorm:before {
  content : 'ï‚‚';
}

.wi-earthquake:before {
  content : 'ïƒ†';
}

.wi-fire:before {
  content : 'ïƒ‡';
}

.wi-flood:before {
  content : 'ï¼';
}

.wi-meteor:before {
  content : 'ï±';
}

.wi-tsunami:before {
  content : 'ïƒ…';
}

.wi-volcano:before {
  content : 'ïƒˆ';
}

.wi-hurricane:before {
  content : 'ï³';
}

.wi-tornado:before {
  content : 'ï–';
}

.wi-small-craft-advisory:before {
  content : 'ïƒŒ';
}

.wi-gale-warning:before {
  content : 'ïƒ';
}

.wi-storm-warning:before {
  content : 'ïƒŽ';
}

.wi-hurricane-warning:before {
  content : 'ïƒ';
}

.wi-wind-direction:before {
  content : 'ï‚±';
}

.wi-alien:before {
  content : 'ïµ';
}

.wi-celsius:before {
  content : 'ï€¼';
}

.wi-fahrenheit:before {
  content : 'ï…';
}

.wi-degrees:before {
  content : 'ï‚';
}

.wi-thermometer:before {
  content : 'ï•';
}

.wi-thermometer-exterior:before {
  content : 'ï“';
}

.wi-thermometer-internal:before {
  content : 'ï”';
}

.wi-cloud-down:before {
  content : 'ï€½';
}

.wi-cloud-up:before {
  content : 'ï€';
}

.wi-cloud-refresh:before {
  content : 'ï€¾';
}

.wi-horizon:before {
  content : 'ï‡';
}

.wi-horizon-alt:before {
  content : 'ï†';
}

.wi-sunrise:before {
  content : 'ï‘';
}

.wi-sunset:before {
  content : 'ï’';
}

.wi-moonrise:before {
  content : 'ïƒ‰';
}

.wi-moonset:before {
  content : 'ïƒŠ';
}

.wi-refresh:before {
  content : 'ïŒ';
}

.wi-refresh-alt:before {
  content : 'ï‹';
}

.wi-umbrella:before {
  content : 'ï‚„';
}

.wi-barometer:before {
  content : 'ï¹';
}

.wi-humidity:before {
  content : 'ïº';
}

.wi-na:before {
  content : 'ï»';
}

.wi-train:before {
  content : 'ïƒ‹';
}

.wi-moon-new:before {
  content : 'ï‚•';
}

.wi-moon-waxing-crescent-1:before {
  content : 'ï‚–';
}

.wi-moon-waxing-crescent-2:before {
  content : 'ï‚—';
}

.wi-moon-waxing-crescent-3:before {
  content : 'ï‚˜';
}

.wi-moon-waxing-crescent-4:before {
  content : 'ï‚™';
}

.wi-moon-waxing-crescent-5:before {
  content : 'ï‚š';
}

.wi-moon-waxing-crescent-6:before {
  content : 'ï‚›';
}

.wi-moon-first-quarter:before {
  content : 'ï‚œ';
}

.wi-moon-waxing-gibbous-1:before {
  content : 'ï‚';
}

.wi-moon-waxing-gibbous-2:before {
  content : 'ï‚ž';
}

.wi-moon-waxing-gibbous-3:before {
  content : 'ï‚Ÿ';
}

.wi-moon-waxing-gibbous-4:before {
  content : 'ï‚ ';
}

.wi-moon-waxing-gibbous-5:before {
  content : 'ï‚¡';
}

.wi-moon-waxing-gibbous-6:before {
  content : 'ï‚¢';
}

.wi-moon-full:before {
  content : 'ï‚£';
}

.wi-moon-waning-gibbous-1:before {
  content : 'ï‚¤';
}

.wi-moon-waning-gibbous-2:before {
  content : 'ï‚¥';
}

.wi-moon-waning-gibbous-3:before {
  content : 'ï‚¦';
}

.wi-moon-waning-gibbous-4:before {
  content : 'ï‚§';
}

.wi-moon-waning-gibbous-5:before {
  content : 'ï‚¨';
}

.wi-moon-waning-gibbous-6:before {
  content : 'ï‚©';
}

.wi-moon-third-quarter:before {
  content : 'ï‚ª';
}

.wi-moon-waning-crescent-1:before {
  content : 'ï‚«';
}

.wi-moon-waning-crescent-2:before {
  content : 'ï‚¬';
}

.wi-moon-waning-crescent-3:before {
  content : 'ï‚­';
}

.wi-moon-waning-crescent-4:before {
  content : 'ï‚®';
}

.wi-moon-waning-crescent-5:before {
  content : 'ï‚¯';
}

.wi-moon-waning-crescent-6:before {
  content : 'ï‚°';
}

.wi-moon-alt-new:before {
  content : 'ïƒ«';
}

.wi-moon-alt-waxing-crescent-1:before {
  content : 'ïƒ';
}

.wi-moon-alt-waxing-crescent-2:before {
  content : 'ïƒ‘';
}

.wi-moon-alt-waxing-crescent-3:before {
  content : 'ïƒ’';
}

.wi-moon-alt-waxing-crescent-4:before {
  content : 'ïƒ“';
}

.wi-moon-alt-waxing-crescent-5:before {
  content : 'ïƒ”';
}

.wi-moon-alt-waxing-crescent-6:before {
  content : 'ïƒ•';
}

.wi-moon-alt-first-quarter:before {
  content : 'ïƒ–';
}

.wi-moon-alt-waxing-gibbous-1:before {
  content : 'ïƒ—';
}

.wi-moon-alt-waxing-gibbous-2:before {
  content : 'ïƒ˜';
}

.wi-moon-alt-waxing-gibbous-3:before {
  content : 'ïƒ™';
}

.wi-moon-alt-waxing-gibbous-4:before {
  content : 'ïƒš';
}

.wi-moon-alt-waxing-gibbous-5:before {
  content : 'ïƒ›';
}

.wi-moon-alt-waxing-gibbous-6:before {
  content : 'ïƒœ';
}

.wi-moon-alt-full:before {
  content : 'ïƒ';
}

.wi-moon-alt-waning-gibbous-1:before {
  content : 'ïƒž';
}

.wi-moon-alt-waning-gibbous-2:before {
  content : 'ïƒŸ';
}

.wi-moon-alt-waning-gibbous-3:before {
  content : 'ïƒ ';
}

.wi-moon-alt-waning-gibbous-4:before {
  content : 'ïƒ¡';
}

.wi-moon-alt-waning-gibbous-5:before {
  content : 'ïƒ¢';
}

.wi-moon-alt-waning-gibbous-6:before {
  content : 'ïƒ£';
}

.wi-moon-alt-third-quarter:before {
  content : 'ïƒ¤';
}

.wi-moon-alt-waning-crescent-1:before {
  content : 'ïƒ¥';
}

.wi-moon-alt-waning-crescent-2:before {
  content : 'ïƒ¦';
}

.wi-moon-alt-waning-crescent-3:before {
  content : 'ïƒ§';
}

.wi-moon-alt-waning-crescent-4:before {
  content : 'ïƒ¨';
}

.wi-moon-alt-waning-crescent-5:before {
  content : 'ïƒ©';
}

.wi-moon-alt-waning-crescent-6:before {
  content : 'ïƒª';
}

.wi-moon-0:before {
  content : 'ï‚•';
}

.wi-moon-1:before {
  content : 'ï‚–';
}

.wi-moon-2:before {
  content : 'ï‚—';
}

.wi-moon-3:before {
  content : 'ï‚˜';
}

.wi-moon-4:before {
  content : 'ï‚™';
}

.wi-moon-5:before {
  content : 'ï‚š';
}

.wi-moon-6:before {
  content : 'ï‚›';
}

.wi-moon-7:before {
  content : 'ï‚œ';
}

.wi-moon-8:before {
  content : 'ï‚';
}

.wi-moon-9:before {
  content : 'ï‚ž';
}

.wi-moon-10:before {
  content : 'ï‚Ÿ';
}

.wi-moon-11:before {
  content : 'ï‚ ';
}

.wi-moon-12:before {
  content : 'ï‚¡';
}

.wi-moon-13:before {
  content : 'ï‚¢';
}

.wi-moon-14:before {
  content : 'ï‚£';
}

.wi-moon-15:before {
  content : 'ï‚¤';
}

.wi-moon-16:before {
  content : 'ï‚¥';
}

.wi-moon-17:before {
  content : 'ï‚¦';
}

.wi-moon-18:before {
  content : 'ï‚§';
}

.wi-moon-19:before {
  content : 'ï‚¨';
}

.wi-moon-20:before {
  content : 'ï‚©';
}

.wi-moon-21:before {
  content : 'ï‚ª';
}

.wi-moon-22:before {
  content : 'ï‚«';
}

.wi-moon-23:before {
  content : 'ï‚¬';
}

.wi-moon-24:before {
  content : 'ï‚­';
}

.wi-moon-25:before {
  content : 'ï‚®';
}

.wi-moon-26:before {
  content : 'ï‚¯';
}

.wi-moon-27:before {
  content : 'ï‚°';
}

.wi-time-1:before {
  content : 'ï‚Š';
}

.wi-time-2:before {
  content : 'ï‚‹';
}

.wi-time-3:before {
  content : 'ï‚Œ';
}

.wi-time-4:before {
  content : 'ï‚';
}

.wi-time-5:before {
  content : 'ï‚Ž';
}

.wi-time-6:before {
  content : 'ï‚';
}

.wi-time-7:before {
  content : 'ï‚';
}

.wi-time-8:before {
  content : 'ï‚‘';
}

.wi-time-9:before {
  content : 'ï‚’';
}

.wi-time-10:before {
  content : 'ï‚“';
}

.wi-time-11:before {
  content : 'ï‚”';
}

.wi-time-12:before {
  content : 'ï‚‰';
}

.wi-direction-up:before {
  content : 'ï˜';
}

.wi-direction-up-right:before {
  content : 'ï—';
}

.wi-direction-right:before {
  content : 'ï';
}

.wi-direction-down-right:before {
  content : 'ï‚ˆ';
}

.wi-direction-down:before {
  content : 'ï„';
}

.wi-direction-down-left:before {
  content : 'ïƒ';
}

.wi-direction-left:before {
  content : 'ïˆ';
}

.wi-direction-up-left:before {
  content : 'ï‚‡';
}

.wi-wind-beaufort-0:before {
  content : 'ï‚·';
}

.wi-wind-beaufort-1:before {
  content : 'ï‚¸';
}

.wi-wind-beaufort-2:before {
  content : 'ï‚¹';
}

.wi-wind-beaufort-3:before {
  content : 'ï‚º';
}

.wi-wind-beaufort-4:before {
  content : 'ï‚»';
}

.wi-wind-beaufort-5:before {
  content : 'ï‚¼';
}

.wi-wind-beaufort-6:before {
  content : 'ï‚½';
}

.wi-wind-beaufort-7:before {
  content : 'ï‚¾';
}

.wi-wind-beaufort-8:before {
  content : 'ï‚¿';
}

.wi-wind-beaufort-9:before {
  content : 'ïƒ€';
}

.wi-wind-beaufort-10:before {
  content : 'ïƒ';
}

.wi-wind-beaufort-11:before {
  content : 'ïƒ‚';
}

.wi-wind-beaufort-12:before {
  content : 'ïƒƒ';
}

.wi-yahoo-0:before {
  content : 'ï–';
}

.wi-yahoo-1:before {
  content : 'ï€Ž';
}

.wi-yahoo-2:before {
  content : 'ï³';
}

.wi-yahoo-3:before {
  content : 'ï€ž';
}

.wi-yahoo-4:before {
  content : 'ï€ž';
}

.wi-yahoo-5:before {
  content : 'ï€—';
}

.wi-yahoo-6:before {
  content : 'ï€—';
}

.wi-yahoo-7:before {
  content : 'ï€—';
}

.wi-yahoo-8:before {
  content : 'ï€•';
}

.wi-yahoo-9:before {
  content : 'ï€š';
}

.wi-yahoo-10:before {
  content : 'ï€•';
}

.wi-yahoo-11:before {
  content : 'ï€š';
}

.wi-yahoo-12:before {
  content : 'ï€š';
}

.wi-yahoo-13:before {
  content : 'ï€›';
}

.wi-yahoo-14:before {
  content : 'ï€Š';
}

.wi-yahoo-15:before {
  content : 'ï¤';
}

.wi-yahoo-16:before {
  content : 'ï€›';
}

.wi-yahoo-17:before {
  content : 'ï€•';
}

.wi-yahoo-18:before {
  content : 'ï€—';
}

.wi-yahoo-19:before {
  content : 'ï£';
}

.wi-yahoo-20:before {
  content : 'ï€”';
}

.wi-yahoo-21:before {
  content : 'ï€¡';
}

.wi-yahoo-22:before {
  content : 'ï¢';
}

.wi-yahoo-23:before {
  content : 'ï';
}

.wi-yahoo-24:before {
  content : 'ï';
}

.wi-yahoo-25:before {
  content : 'ï¶';
}

.wi-yahoo-26:before {
  content : 'ï€“';
}

.wi-yahoo-27:before {
  content : 'ï€±';
}

.wi-yahoo-28:before {
  content : 'ï€‚';
}

.wi-yahoo-29:before {
  content : 'ï€±';
}

.wi-yahoo-30:before {
  content : 'ï€‚';
}

.wi-yahoo-31:before {
  content : 'ï€®';
}

.wi-yahoo-32:before {
  content : 'ï€';
}

.wi-yahoo-33:before {
  content : 'ï‚ƒ';
}

.wi-yahoo-34:before {
  content : 'ï€Œ';
}

.wi-yahoo-35:before {
  content : 'ï€—';
}

.wi-yahoo-36:before {
  content : 'ï²';
}

.wi-yahoo-37:before {
  content : 'ï€Ž';
}

.wi-yahoo-38:before {
  content : 'ï€Ž';
}

.wi-yahoo-39:before {
  content : 'ï€Ž';
}

.wi-yahoo-40:before {
  content : 'ï€š';
}

.wi-yahoo-41:before {
  content : 'ï¤';
}

.wi-yahoo-42:before {
  content : 'ï€›';
}

.wi-yahoo-43:before {
  content : 'ï¤';
}

.wi-yahoo-44:before {
  content : 'ï€Œ';
}

.wi-yahoo-45:before {
  content : 'ï€Ž';
}

.wi-yahoo-46:before {
  content : 'ï€›';
}

.wi-yahoo-47:before {
  content : 'ï€Ž';
}

.wi-yahoo-3200:before {
  content : 'ï·';
}

.wi-forecast-io-clear-day:before {
  content : 'ï€';
}

.wi-forecast-io-clear-night:before {
  content : 'ï€®';
}

.wi-forecast-io-rain:before {
  content : 'ï€™';
}

.wi-forecast-io-snow:before {
  content : 'ï€›';
}

.wi-forecast-io-sleet:before {
  content : 'ï‚µ';
}

.wi-forecast-io-wind:before {
  content : 'ï';
}

.wi-forecast-io-fog:before {
  content : 'ï€”';
}

.wi-forecast-io-cloudy:before {
  content : 'ï€“';
}

.wi-forecast-io-partly-cloudy-day:before {
  content : 'ï€‚';
}

.wi-forecast-io-partly-cloudy-night:before {
  content : 'ï€±';
}

.wi-forecast-io-hail:before {
  content : 'ï€•';
}

.wi-forecast-io-thunderstorm:before {
  content : 'ï€ž';
}

.wi-forecast-io-tornado:before {
  content : 'ï–';
}

.wi-wmo4680-0:before, .wi-wmo4680-00:before {
  content : 'ï•';
}

.wi-wmo4680-1:before, .wi-wmo4680-01:before {
  content : 'ï€“';
}

.wi-wmo4680-2:before, .wi-wmo4680-02:before {
  content : 'ï•';
}

.wi-wmo4680-3:before, .wi-wmo4680-03:before {
  content : 'ï€“';
}

.wi-wmo4680-4:before, .wi-wmo4680-04:before {
  content : 'ï€”';
}

.wi-wmo4680-5:before, .wi-wmo4680-05:before {
  content : 'ï€”';
}

.wi-wmo4680-10:before {
  content : 'ï€”';
}

.wi-wmo4680-11:before {
  content : 'ï€”';
}

.wi-wmo4680-12:before {
  content : 'ï€–';
}

.wi-wmo4680-18:before {
  content : 'ï';
}

.wi-wmo4680-20:before {
  content : 'ï€”';
}

.wi-wmo4680-21:before {
  content : 'ï€—';
}

.wi-wmo4680-22:before {
  content : 'ï€—';
}

.wi-wmo4680-23:before {
  content : 'ï€™';
}

.wi-wmo4680-24:before {
  content : 'ï€›';
}

.wi-wmo4680-25:before {
  content : 'ï€•';
}

.wi-wmo4680-26:before {
  content : 'ï€ž';
}

.wi-wmo4680-27:before {
  content : 'ï£';
}

.wi-wmo4680-28:before {
  content : 'ï£';
}

.wi-wmo4680-29:before {
  content : 'ï£';
}

.wi-wmo4680-30:before {
  content : 'ï€”';
}

.wi-wmo4680-31:before {
  content : 'ï€”';
}

.wi-wmo4680-32:before {
  content : 'ï€”';
}

.wi-wmo4680-33:before {
  content : 'ï€”';
}

.wi-wmo4680-34:before {
  content : 'ï€”';
}

.wi-wmo4680-35:before {
  content : 'ï€”';
}

.wi-wmo4680-40:before {
  content : 'ï€—';
}

.wi-wmo4680-41:before {
  content : 'ï€œ';
}

.wi-wmo4680-42:before {
  content : 'ï€™';
}

.wi-wmo4680-43:before {
  content : 'ï€œ';
}

.wi-wmo4680-44:before {
  content : 'ï€™';
}

.wi-wmo4680-45:before {
  content : 'ï€•';
}

.wi-wmo4680-46:before {
  content : 'ï€•';
}

.wi-wmo4680-47:before {
  content : 'ï€›';
}

.wi-wmo4680-48:before {
  content : 'ï€›';
}

.wi-wmo4680-50:before {
  content : 'ï€œ';
}

.wi-wmo4680-51:before {
  content : 'ï€œ';
}

.wi-wmo4680-52:before {
  content : 'ï€™';
}

.wi-wmo4680-53:before {
  content : 'ï€™';
}

.wi-wmo4680-54:before {
  content : 'ï¶';
}

.wi-wmo4680-55:before {
  content : 'ï¶';
}

.wi-wmo4680-56:before {
  content : 'ï¶';
}

.wi-wmo4680-57:before {
  content : 'ï€œ';
}

.wi-wmo4680-58:before {
  content : 'ï€™';
}

.wi-wmo4680-60:before {
  content : 'ï€œ';
}

.wi-wmo4680-61:before {
  content : 'ï€œ';
}

.wi-wmo4680-62:before {
  content : 'ï€™';
}

.wi-wmo4680-63:before {
  content : 'ï€™';
}

.wi-wmo4680-64:before {
  content : 'ï€•';
}

.wi-wmo4680-65:before {
  content : 'ï€•';
}

.wi-wmo4680-66:before {
  content : 'ï€•';
}

.wi-wmo4680-67:before {
  content : 'ï€—';
}

.wi-wmo4680-68:before {
  content : 'ï€—';
}

.wi-wmo4680-70:before {
  content : 'ï€›';
}

.wi-wmo4680-71:before {
  content : 'ï€›';
}

.wi-wmo4680-72:before {
  content : 'ï€›';
}

.wi-wmo4680-73:before {
  content : 'ï€›';
}

.wi-wmo4680-74:before {
  content : 'ï¶';
}

.wi-wmo4680-75:before {
  content : 'ï¶';
}

.wi-wmo4680-76:before {
  content : 'ï¶';
}

.wi-wmo4680-77:before {
  content : 'ï€›';
}

.wi-wmo4680-78:before {
  content : 'ï¶';
}

.wi-wmo4680-80:before {
  content : 'ï€™';
}

.wi-wmo4680-81:before {
  content : 'ï€œ';
}

.wi-wmo4680-82:before {
  content : 'ï€™';
}

.wi-wmo4680-83:before {
  content : 'ï€™';
}

.wi-wmo4680-84:before {
  content : 'ï€';
}

.wi-wmo4680-85:before {
  content : 'ï€—';
}

.wi-wmo4680-86:before {
  content : 'ï€—';
}

.wi-wmo4680-87:before {
  content : 'ï€—';
}

.wi-wmo4680-89:before {
  content : 'ï€•';
}

.wi-wmo4680-90:before {
  content : 'ï€–';
}

.wi-wmo4680-91:before {
  content : 'ï€';
}

.wi-wmo4680-92:before {
  content : 'ï€ž';
}

.wi-wmo4680-93:before {
  content : 'ï€ž';
}

.wi-wmo4680-94:before {
  content : 'ï€–';
}

.wi-wmo4680-95:before {
  content : 'ï€ž';
}

.wi-wmo4680-96:before {
  content : 'ï€ž';
}

.wi-wmo4680-99:before {
  content : 'ï–';
}

.wi-owm-200:before {
  content : 'ï€ž';
}

.wi-owm-201:before {
  content : 'ï€ž';
}

.wi-owm-202:before {
  content : 'ï€ž';
}

.wi-owm-210:before {
  content : 'ï€–';
}

.wi-owm-211:before {
  content : 'ï€–';
}

.wi-owm-212:before {
  content : 'ï€–';
}

.wi-owm-221:before {
  content : 'ï€–';
}

.wi-owm-230:before {
  content : 'ï€ž';
}

.wi-owm-231:before {
  content : 'ï€ž';
}

.wi-owm-232:before {
  content : 'ï€ž';
}

.wi-owm-300:before {
  content : 'ï€œ';
}

.wi-owm-301:before {
  content : 'ï€œ';
}

.wi-owm-302:before {
  content : 'ï€™';
}

.wi-owm-310:before {
  content : 'ï€—';
}

.wi-owm-311:before {
  content : 'ï€™';
}

.wi-owm-312:before {
  content : 'ï€™';
}

.wi-owm-313:before {
  content : 'ï€š';
}

.wi-owm-314:before {
  content : 'ï€™';
}

.wi-owm-321:before {
  content : 'ï€œ';
}

.wi-owm-500:before {
  content : 'ï€œ';
}

.wi-owm-501:before {
  content : 'ï€™';
}

.wi-owm-502:before {
  content : 'ï€™';
}

.wi-owm-503:before {
  content : 'ï€™';
}

.wi-owm-504:before {
  content : 'ï€™';
}

.wi-owm-511:before {
  content : 'ï€—';
}

.wi-owm-520:before {
  content : 'ï€š';
}

.wi-owm-521:before {
  content : 'ï€š';
}

.wi-owm-522:before {
  content : 'ï€š';
}

.wi-owm-531:before {
  content : 'ï€';
}

.wi-owm-600:before {
  content : 'ï€›';
}

.wi-owm-601:before {
  content : 'ï€›';
}

.wi-owm-602:before {
  content : 'ï‚µ';
}

.wi-owm-611:before {
  content : 'ï€—';
}

.wi-owm-612:before {
  content : 'ï€—';
}

.wi-owm-615:before {
  content : 'ï€—';
}

.wi-owm-616:before {
  content : 'ï€—';
}

.wi-owm-620:before {
  content : 'ï€—';
}

.wi-owm-621:before {
  content : 'ï€›';
}

.wi-owm-622:before {
  content : 'ï€›';
}

.wi-owm-701:before {
  content : 'ï€š';
}

.wi-owm-711:before {
  content : 'ï¢';
}

.wi-owm-721:before {
  content : 'ï‚¶';
}

.wi-owm-731:before {
  content : 'ï£';
}

.wi-owm-741:before {
  content : 'ï€”';
}

.wi-owm-761:before {
  content : 'ï£';
}

.wi-owm-762:before {
  content : 'ï£';
}

.wi-owm-771:before {
  content : 'ï€‘';
}

.wi-owm-781:before {
  content : 'ï–';
}

.wi-owm-800:before {
  content : 'ï€';
}

.wi-owm-801:before {
  content : 'ï€‘';
}

.wi-owm-802:before {
  content : 'ï€‘';
}

.wi-owm-803:before {
  content : 'ï€’';
}

.wi-owm-804:before {
  content : 'ï€“';
}

.wi-owm-900:before {
  content : 'ï–';
}

.wi-owm-901:before {
  content : 'ï€';
}

.wi-owm-902:before {
  content : 'ï³';
}

.wi-owm-903:before {
  content : 'ï¶';
}

.wi-owm-904:before {
  content : 'ï²';
}

.wi-owm-905:before {
  content : 'ï€¡';
}

.wi-owm-906:before {
  content : 'ï€•';
}

.wi-owm-957:before {
  content : 'ï';
}

.wi-owm-day-200:before {
  content : 'ï€';
}

.wi-owm-day-201:before {
  content : 'ï€';
}

.wi-owm-day-202:before {
  content : 'ï€';
}

.wi-owm-day-210:before {
  content : 'ï€…';
}

.wi-owm-day-211:before {
  content : 'ï€…';
}

.wi-owm-day-212:before {
  content : 'ï€…';
}

.wi-owm-day-221:before {
  content : 'ï€…';
}

.wi-owm-day-230:before {
  content : 'ï€';
}

.wi-owm-day-231:before {
  content : 'ï€';
}

.wi-owm-day-232:before {
  content : 'ï€';
}

.wi-owm-day-300:before {
  content : 'ï€‹';
}

.wi-owm-day-301:before {
  content : 'ï€‹';
}

.wi-owm-day-302:before {
  content : 'ï€ˆ';
}

.wi-owm-day-310:before {
  content : 'ï€ˆ';
}

.wi-owm-day-311:before {
  content : 'ï€ˆ';
}

.wi-owm-day-312:before {
  content : 'ï€ˆ';
}

.wi-owm-day-313:before {
  content : 'ï€ˆ';
}

.wi-owm-day-314:before {
  content : 'ï€ˆ';
}

.wi-owm-day-321:before {
  content : 'ï€‹';
}

.wi-owm-day-500:before {
  content : 'ï€‹';
}

.wi-owm-day-501:before {
  content : 'ï€ˆ';
}

.wi-owm-day-502:before {
  content : 'ï€ˆ';
}

.wi-owm-day-503:before {
  content : 'ï€ˆ';
}

.wi-owm-day-504:before {
  content : 'ï€ˆ';
}

.wi-owm-day-511:before {
  content : 'ï€†';
}

.wi-owm-day-520:before {
  content : 'ï€‰';
}

.wi-owm-day-521:before {
  content : 'ï€‰';
}

.wi-owm-day-522:before {
  content : 'ï€‰';
}

.wi-owm-day-531:before {
  content : 'ï€Ž';
}

.wi-owm-day-600:before {
  content : 'ï€Š';
}

.wi-owm-day-601:before {
  content : 'ï‚²';
}

.wi-owm-day-602:before {
  content : 'ï€Š';
}

.wi-owm-day-611:before {
  content : 'ï€†';
}

.wi-owm-day-612:before {
  content : 'ï€†';
}

.wi-owm-day-615:before {
  content : 'ï€†';
}

.wi-owm-day-616:before {
  content : 'ï€†';
}

.wi-owm-day-620:before {
  content : 'ï€†';
}

.wi-owm-day-621:before {
  content : 'ï€Š';
}

.wi-owm-day-622:before {
  content : 'ï€Š';
}

.wi-owm-day-701:before {
  content : 'ï€‰';
}

.wi-owm-day-711:before {
  content : 'ï¢';
}

.wi-owm-day-721:before {
  content : 'ï‚¶';
}

.wi-owm-day-731:before {
  content : 'ï£';
}

.wi-owm-day-741:before {
  content : 'ï€ƒ';
}

.wi-owm-day-761:before {
  content : 'ï£';
}

.wi-owm-day-762:before {
  content : 'ï£';
}

.wi-owm-day-781:before {
  content : 'ï–';
}

.wi-owm-day-800:before {
  content : 'ï€';
}

.wi-owm-day-801:before {
  content : 'ï€€';
}

.wi-owm-day-802:before {
  content : 'ï€€';
}

.wi-owm-day-803:before {
  content : 'ï€€';
}

.wi-owm-day-804:before {
  content : 'ï€Œ';
}

.wi-owm-day-900:before {
  content : 'ï–';
}

.wi-owm-day-902:before {
  content : 'ï³';
}

.wi-owm-day-903:before {
  content : 'ï¶';
}

.wi-owm-day-904:before {
  content : 'ï²';
}

.wi-owm-day-906:before {
  content : 'ï€„';
}

.wi-owm-day-957:before {
  content : 'ï';
}

.wi-owm-night-200:before {
  content : 'ï€­';
}

.wi-owm-night-201:before {
  content : 'ï€­';
}

.wi-owm-night-202:before {
  content : 'ï€­';
}

.wi-owm-night-210:before {
  content : 'ï€¥';
}

.wi-owm-night-211:before {
  content : 'ï€¥';
}

.wi-owm-night-212:before {
  content : 'ï€¥';
}

.wi-owm-night-221:before {
  content : 'ï€¥';
}

.wi-owm-night-230:before {
  content : 'ï€­';
}

.wi-owm-night-231:before {
  content : 'ï€­';
}

.wi-owm-night-232:before {
  content : 'ï€­';
}

.wi-owm-night-300:before {
  content : 'ï€«';
}

.wi-owm-night-301:before {
  content : 'ï€«';
}

.wi-owm-night-302:before {
  content : 'ï€¨';
}

.wi-owm-night-310:before {
  content : 'ï€¨';
}

.wi-owm-night-311:before {
  content : 'ï€¨';
}

.wi-owm-night-312:before {
  content : 'ï€¨';
}

.wi-owm-night-313:before {
  content : 'ï€¨';
}

.wi-owm-night-314:before {
  content : 'ï€¨';
}

.wi-owm-night-321:before {
  content : 'ï€«';
}

.wi-owm-night-500:before {
  content : 'ï€«';
}

.wi-owm-night-501:before {
  content : 'ï€¨';
}

.wi-owm-night-502:before {
  content : 'ï€¨';
}

.wi-owm-night-503:before {
  content : 'ï€¨';
}

.wi-owm-night-504:before {
  content : 'ï€¨';
}

.wi-owm-night-511:before {
  content : 'ï€¦';
}

.wi-owm-night-520:before {
  content : 'ï€©';
}

.wi-owm-night-521:before {
  content : 'ï€©';
}

.wi-owm-night-522:before {
  content : 'ï€©';
}

.wi-owm-night-531:before {
  content : 'ï€¬';
}

.wi-owm-night-600:before {
  content : 'ï€ª';
}

.wi-owm-night-601:before {
  content : 'ï‚´';
}

.wi-owm-night-602:before {
  content : 'ï€ª';
}

.wi-owm-night-611:before {
  content : 'ï€¦';
}

.wi-owm-night-612:before {
  content : 'ï€¦';
}

.wi-owm-night-615:before {
  content : 'ï€¦';
}

.wi-owm-night-616:before {
  content : 'ï€¦';
}

.wi-owm-night-620:before {
  content : 'ï€¦';
}

.wi-owm-night-621:before {
  content : 'ï€ª';
}

.wi-owm-night-622:before {
  content : 'ï€ª';
}

.wi-owm-night-701:before {
  content : 'ï€©';
}

.wi-owm-night-711:before {
  content : 'ï¢';
}

.wi-owm-night-721:before {
  content : 'ï‚¶';
}

.wi-owm-night-731:before {
  content : 'ï£';
}

.wi-owm-night-741:before {
  content : 'ïŠ';
}

.wi-owm-night-761:before {
  content : 'ï£';
}

.wi-owm-night-762:before {
  content : 'ï£';
}

.wi-owm-night-781:before {
  content : 'ï–';
}

.wi-owm-night-800:before {
  content : 'ï€®';
}

.wi-owm-night-801:before {
  content : 'ï€¢';
}

.wi-owm-night-802:before {
  content : 'ï€¢';
}

.wi-owm-night-803:before {
  content : 'ï€¢';
}

.wi-owm-night-804:before {
  content : 'ï‚†';
}

.wi-owm-night-900:before {
  content : 'ï–';
}

.wi-owm-night-902:before {
  content : 'ï³';
}

.wi-owm-night-903:before {
  content : 'ï¶';
}

.wi-owm-night-904:before {
  content : 'ï²';
}

.wi-owm-night-906:before {
  content : 'ï€¤';
}

.wi-owm-night-957:before {
  content : 'ï';
}

.wi-wu-chanceflurries:before {
  content : 'ï¤';
}

.wi-wu-chancerain:before {
  content : 'ï€™';
}

.wi-wu-chancesleat:before {
  content : 'ï‚µ';
}

.wi-wu-chancesnow:before {
  content : 'ï€›';
}

.wi-wu-chancetstorms:before {
  content : 'ï€ž';
}

.wi-wu-clear:before {
  content : 'ï€';
}

.wi-wu-cloudy:before {
  content : 'ï€‚';
}

.wi-wu-flurries:before {
  content : 'ï¤';
}

.wi-wu-hazy:before {
  content : 'ï‚¶';
}

.wi-wu-mostlycloudy:before {
  content : 'ï€‚';
}

.wi-wu-mostlysunny:before {
  content : 'ï€';
}

.wi-wu-partlycloudy:before {
  content : 'ï€‚';
}

.wi-wu-partlysunny:before {
  content : 'ï€';
}

.wi-wu-rain:before {
  content : 'ï€š';
}

.wi-wu-sleat:before {
  content : 'ï‚µ';
}

.wi-wu-snow:before {
  content : 'ï€›';
}

.wi-wu-sunny:before {
  content : 'ï€';
}

.wi-wu-tstorms:before {
  content : 'ï€ž';
}

.wi-wu-unknown:before {
  content : 'ï€';
}